<form method="POST" action="/"> <!-- May need to change action to include /view filepath or different file -->
  <label>Name: <input type="text" name="name"></label>
  <label>Breed: <input type="text" name="breed"></label>
  <label>Age: <input type="number" name="age"></label>
  <input type="submit" id="Submit">
</form>
